.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  padding: 20px;

  align-items: center;
  z-index: 1;

  /*animation*/
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav-black {
  background-color: #111;
}

.nav-logo {
  object-fit: contain;
  width: 80px;
  left: 20px;
  position: fixed;
  top: 0;
}
.linkdin {
  position: fixed;
  right: 20px;
  color: red;
  width: 30px;
  object-fit: contain;
  margin-bottom: 4px;
  padding-right: 35px;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  /* padding: 20px; */
}
